@page "/Appointments/Patients/details/{id:guid}"
@using Clinic.Appointments.Services
@using Clinic.Appointments.Components
@using Clinic.ViewModels
@using Clinic.ViewModels.Appointments

@namespace Clinic.Web.Areas.Appointments.Patients.Pages
@inject ILogger<Details> Logger
@inject IJSRuntime JSRuntime
@inherits Clinic.Shared.Helpers.BlazorPage

<div class="sticky-top">
    <Bar Breakpoint="Breakpoint.Desktop" Background="Background.White" ThemeContrast="ThemeContrast.Light" Shadow="Shadow.Remove">
        <BarToggler />
        <BarMenu>
            <BarStart>
                <BarItem>
                    <Button Type="ButtonType.Button" Class="shadow-none text-danger" PreventDefaultOnSubmit="true" @onclick="() => DeleteClick(Item.Id)">Delete</Button>
                </BarItem>
            </BarStart>
            <BarEnd>
                <BarItem>
                    <Button Type="ButtonType.Submit" Shadow="Shadow.Remove" Clicked="() => CloseClick()">
                        <Icon Name="IconName.Times"></Icon>
                    </Button>
                </BarItem>
            </BarEnd>
        </BarMenu>
    </Bar>
</div>

<PatientInfo @ref="info" Item="Item" />

<Container>
    <Tabs SelectedTab="@selectedTab">
        <Items>
            <Tab Name="More">More</Tab>
            <Tab Name="Appointment">Appointments</Tab>
            <Tab Name="Attendance">Attendances</Tab>
        </Items>
        <Content>
            <TabPanel Name="More">
                <Accordion>
                </Accordion>
            </TabPanel>
            <TabPanel Name="Appointment">
                <AppointmentsComponent Appointments="Appointments"
                    Editable="false"
                    OnSelectClick="x => OpenAppointmentDetail(x)">
                    <Paginator Title="Appointments" PaginationInfo="Appointments.PaginationInfo" Spread="5" PageSelected="(p)=> LoadRelatedAppointments(Item.Id, p)">
                        <Button Clicked="() => OpenAddAppointment()">
                            <Icon Name="IconName.Add"></Icon>
                        </Button>
                    </Paginator>
                </AppointmentsComponent>
            </TabPanel>

            <TabPanel Name="Attendance">
                <AttendancesComponent Attendances="Attendances"
                    Editable="false"
                    OnSelectClick="x => OpenAttendanceDetail(x)">
                    <Paginator Title="Attendances" PaginationInfo="Attendances.PaginationInfo" Spread="5" PageSelected="(p)=> LoadRelatedAttendances(Item.Id, p)">
                        <Button Clicked="() => OpenAddAttendance()">
                            <Icon Name="IconName.Add"></Icon>
                        </Button>
                    </Paginator>
                </AttendancesComponent>
            </TabPanel>

        </Content>
    </Tabs>
</Container>
