@page "/Appointments/Patients/details/{id:guid}"
@using Clinic.Web.Areas.Appointments.Patients.Components
@using Clinic.ViewModels
@using Clinic.ViewModels.Appointments
@using Clinic.Web.Components;

@namespace Clinic.Web.Areas.Appointments.Patients.Pages
@inject ILogger<Details> Logger
@inject IJSRuntime JSRuntime
@inherits BlazorPage

<div class="sticky-top">
    <Bar Breakpoint="Breakpoint.Desktop" Background="Background.White" ThemeContrast="ThemeContrast.Light" Shadow="Shadow.Remove">
        <BarToggler />
        <BarMenu>
            <BarStart>
                <BarItem>
                    <Button Type="ButtonType.Button" Class="shadow-none text-danger" PreventDefaultOnSubmit="true" @onclick="() => DeleteClick(Item.Id)">Delete</Button>
                </BarItem>
            </BarStart>
            <BarEnd>
                <BarItem>
                    <Button Type="ButtonType.Submit" Shadow="Shadow.Remove" Clicked="() => CloseClick()">
                        <Icon Name="IconName.Times"></Icon>
                    </Button>
                </BarItem>
            </BarEnd>
        </BarMenu>
    </Bar>
</div>

<PatientInfo @ref="info" Item="Item" />

<Container>
    <Tabs SelectedTab="@selectedTab">
        <Items>
            <Tab Name="More">More</Tab>
            <Tab Name="Appointment">Appointments</Tab>
            <Tab Name="Attendance">Attendances</Tab>
        </Items>
        <Content>
            <TabPanel Name="More">
                <Accordion>
                </Accordion>
            </TabPanel>
            <TabPanel Name="Appointment">
  
            </TabPanel>

            <TabPanel Name="Attendance">
             
            </TabPanel>

        </Content>
    </Tabs>
</Container>
